[Unit]
Description=UWE5621DS bluetooth
After=systemd-modules-load.service local-fs.target

[Service]
Type=forking
ExecStart='exec rfkill unblock all; exec /usr/bin/hciattach_opi -n -s 1500000 /dev/ttyBT0 sprd'

[Install]
WantedBy=system-services.target
